<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wNCi-vfgu9g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<%= form_with model: @comment do |f| %>
  <%= f.label :content, "Ingresa comentario" %>
  <%= f.text_field :content %>
  <%= f.submit :enviar %>
<% end %>

<!-- Formulario de búsqueda -->
<form action="<%= comments_path %>">
  <label for="">Buscador:</label>
  <input type="text" name="q">
</form>

<div id="comments">
  <table>
    <tbody>
      <%= render @comments %>
    </tbody>
  </table>
</div>

<script>
  $("[name=q]").keyup(function(event) {
    $.ajax({
      url: '<%= comments_path %>',
      type: 'GET',
      dataType: 'script',
      data: { q: $(this).val()}
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });
   });
</script>